@page "/sobre"

<PageTitle>Home</PageTitle>

<div class="p-5 mb-4 bg-light rounded-3 shadow-sm border mt-4">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold text-primary">Bem-vindo ao Farol Financeiro</h1>

        <p class="col-md-8 fs-4 mt-3">
            Seu guia para a saúde financeira.
        </p>

        <hr class="my-4">

        <p class="text-muted">
            Este projeto foi desenvolvido com muita dedicação e esforço durante a faculdade.
            Esperamos que ele ajude na organização das suas contas!
        </p>

        <a href="contarecebers" class="btn btn-primary btn-lg mt-3" type="button">
            Começar a navegar
        </a>
    </div>
</div>